extends ../layout

block content
  h3 Registration
  hr
  form(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    input(type='email', name='email', id='email', placeholder='Email', autofocus, required)
    input(type='text', name='username', id='username', placeholder='Username', required)
    input(type='password', name='password', id='password', placeholder='Password', required)
    input(type='password', name='password', id='confirm-password', placeholder='Confirm assword', required)
    button(type='submit') Registration
